<header class="fixed top-0 z-50 w-full bg-white shadow-lg animate-slide-down">
    <div class="flex items-center justify-between px-6 py-4 mx-auto max-w-7xl">
      <h1 class="text-2xl font-extrabold text-gray-800 drop-shadow-[2px_2px_0_rgba(99,102,241,0.5)] transform transition duration-300 hover:scale-105">
        Sandeep<span class="text-indigo-600"></span>
      </h1>       
      <nav class="space-x-8 text-lg font-medium text-gray-600">
        <a routerLink="/" class="transition duration-300 hover:text-indigo-600">Home</a>
        <a routerLink="/about" class="transition duration-300 hover:text-indigo-600">About</a>
        <a routerLink="/projects" class="transition duration-300 hover:text-indigo-600">Projects</a>
        <a routerLink="/contact" routerLinkActive="text-indigo-600" class="transition duration-300 hover:text-indigo-600">Contact</a>

      </nav>
    </div>
  </header>
  